@model IdentityCore.Models.Product

@{
    ViewData["Title"] = "Create";
}


<div class="row" style="margin-top:3%">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" type="file" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechnicalSpecsDoc">Specs document:</label>
                <input type="file" asp-for="TechnicalSpecsDoc" style="width: 100%;" />
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="InStock" /> In stock
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div>
                    <label asp-for="Auctioned">

                        Auctioned
                    </label>
                    <br />
                    <select asp-for="Auctioned">
                        <option value="true" selected="selected">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AuctionAvailableUntil" class="control-label"> Auction available until</label>
                <input asp-for="AuctionAvailableUntil" class="form-control" />
                <span asp-validation-for="AuctionAvailableUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
