@model IdentityCore.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete the product?</h3>
<h3></h3>
<div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a class="btn btn-default" asp-action="Index">Back to List</a>
    </form>
</div>
